<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>contenttransfer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>331CC4DD1D5CC71700E04410</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1CE0EFE1CECED09001228E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1CE0F171CECED09001228E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1CE0F221CECED09001228E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
