<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.vzw.contentTransfer.framework.bundle</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>3.5.16</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>prefs</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>3.5.16.1</string>
	<key>CTBuildDate</key>
	<string>09/11/2018</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>mobile-edev.vzw.com</key>
			<dict>
				<key>NSAllowsArbitraryLoads</key>
				<true/>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.1</string>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>mobile.vzw.com</key>
			<dict>
				<key>NSAllowsArbitraryLoads</key>
				<true/>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.1</string>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSPrincipalClass</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>NeueHaasGrotDisp-75Bold.otf</string>
		<string>NeueHaasGrotDisp-55Roman.otf</string>
		<string>NeueHaasGrotDisp-65Medium</string>
		<string>VerizonApex-Bold.otf</string>
		<string>VerizonApex-BoldItalic.otf</string>
		<string>VerizonApex-Book.otf</string>
		<string>VerizonApex-BookItalic.otf</string>
		<string>VerizonApex-Medium.otf</string>
		<string>VerizonApex-MediumItalic.otf</string>
		<string>NHaasGroteskDSStd-55Rg.otf</string>
		<string>NHaasGroteskDSStd-56It.otf</string>
		<string>NHaasGroteskDSStd-65Md.otf</string>
		<string>NHaasGroteskDSStd-66MdIt.otf</string>
		<string>NHaasGroteskDSStd-75Bd.otf</string>
		<string>NHaasGroteskDSStd-76BdIt.otf</string>
		<string>NHaasGroteskTXStd-55Rg.otf</string>
		<string>NHaasGroteskTXStd-56It.otf</string>
		<string>NHaasGroteskTXStd-65Md.otf</string>
		<string>NHaasGroteskTXStd-66MdIt.otf</string>
		<string>NHaasGroteskTXStd-75Bd.otf</string>
		<string>NHaasGroteskTXStd-76BdIt.otf</string>
	</array>
	<key>UILaunchImages</key>
	<array>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>iOS7-Default </string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{640, 960}</string>
		</dict>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
</dict>
</plist>
